.hero-section {
  background-image: url('../../assets/images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 25px;
  background-color: #c0aa55;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.hero-btn:hover {
  background-color: #3b7e60;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .hero-section {
    height: 450px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 350px;
    background-position: top;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .hero-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
