# Ignore node_modules folder
node_modules/

# Ignore Python virtual environments
venv/

# Ignore cache files
.cache/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore macOS system files (optional)
.DS_Store

# Ignore other build or IDE-specific files (optional)
.idea/
.vscode/
