.header {
  height: 10vh;
  background-color: #22262d;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo:hover .logo-image {
  transform: scale(1.2);
}

.nav-links {
  display: flex;
  list-style: none;
  flex-grow: 1;
  justify-content: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover {
  color: #3b7e60;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.btn {
  margin-left: 10px;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: medium;
  background-color: #c0aa55;
  color: #fff;
}

.btn:hover {
  background-color: #3b7e60;
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #22262d;
  border: 1px solid #c0aa55;
  border-radius: 5px;
  padding: 10px;
  min-width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #3b7e60;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #22262d;
    width: 100%;
    display: none;
  }

  .nav .toggle-menu {
    display: block;
    cursor: pointer;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
