.about-us {
  padding: 10vh 40px 0 40px;
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
}

/* Hero Section */
.about-hero {
  text-align: center;
  color: #444;
  padding: 50px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.about-hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.about-hero p {
  font-size: 20px;
  line-height: 1.6;
}

/* About Section Base Styles */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}

.about-section img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-section .section-content {
  max-width: 65%;
  padding: 20px;
}

.about-section h2 {
  font-size: 32px;
  color: #22262d;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 18px;
  line-height: 1.8;
  color: #444;
}
.section-content h2{
  text-align: center;
}

/* Team Section */


.about-team h2 {
  font-size: 32px;
  color: #22262d;
  margin-bottom: 10px;
  text-align: center;
}

.about-team p {
  font-size: 18px;
  color: #444;
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-section img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .about-section .section-content {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .about-hero h1 {
    font-size: 36px;
  }

  .about-hero p {
    font-size: 18px;
  }

  .about-section h2 {
    font-size: 28px;
  }

  .about-section p {
    font-size: 16px;
  }

  .about-team h2 {
    font-size: 28px;
  }

  .about-team p {
    font-size: 16px;
  }
}
